.wrap-table {
    margin: 21px 0 9px 14px;
    padding: 12px 0;
    background: #394B59;
    border-radius: 3px 3px 0px 0px;
    min-height: calc(100vh - 270px);
}
h1 {
    padding: 0 14px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}